/*
   Thursday, July 26, 20123:31:26 PM
   User: 
   Server: ERIC-WORKMAC-PC\SQLEXPRESS
   Database: HeadspringTraining
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.AuditEntry
	(
	WorkOrderId uniqueidentifier NOT NULL,
	Sequence int NOT NULL,
	EmployeeId uniqueidentifier NULL,
	ArchivedEmployeeName nvarchar(50) NULL,
	Date datetime NULL,
	BeginStatus char(3) NULL,
	EndStatus char(3) NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.AuditEntry ADD CONSTRAINT
	PK_AuditEntry PRIMARY KEY CLUSTERED 
	(
	WorkOrderId,
	Sequence
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.AuditEntry SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
