/*
   Friday, July 27, 201210:18:45 AM
   User: 
   Server: ERICMACBOOK-PC\SQLEXPRESS
   Database: HeadspringTraining
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.WorkOrder
	DROP CONSTRAINT FK_WorkOrder_EmployeeForCreator
GO
ALTER TABLE dbo.WorkOrder
	DROP CONSTRAINT FKWorkOrder_EmployeeForAssignee
GO
ALTER TABLE dbo.Employee SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_WorkOrder
	(
	Id uniqueidentifier NOT NULL,
	Number nvarchar(5) NOT NULL,
	Title nvarchar(200) NOT NULL,
	Description nvarchar(4000) NOT NULL,
	Status nchar(3) NOT NULL,
	CreatorId uniqueidentifier NOT NULL,
	AssigneeId uniqueidentifier NULL,
	RoomNumber nvarchar(50) NULL,
	CreatedDate datetime NULL,
	CompletedDate datetime NULL,
	AssignedDate datetime NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_WorkOrder SET (LOCK_ESCALATION = TABLE)
GO
IF EXISTS(SELECT * FROM dbo.WorkOrder)
	 EXEC('INSERT INTO dbo.Tmp_WorkOrder (Id, Number, Title, Description, Status, CreatorId, AssigneeId, RoomNumber, CreatedDate, CompletedDate, AssignedDate)
		SELECT Id, Number, Title, Description, Status, CreatorId, AssigneeId, CONVERT(nvarchar(50), RoomNumber), CreatedDate, CompletedDate, AssignedDate FROM dbo.WorkOrder WITH (HOLDLOCK TABLOCKX)')
GO
DROP TABLE dbo.WorkOrder
GO
EXECUTE sp_rename N'dbo.Tmp_WorkOrder', N'WorkOrder', 'OBJECT' 
GO
ALTER TABLE dbo.WorkOrder ADD CONSTRAINT
	PK__WorkOrde__3214EC0732E0915F PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
CREATE UNIQUE NONCLUSTERED INDEX IX_WorkOrder_Number ON dbo.WorkOrder
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE dbo.WorkOrder ADD CONSTRAINT
	FK_WorkOrder_EmployeeForCreator FOREIGN KEY
	(
	CreatorId
	) REFERENCES dbo.Employee
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.WorkOrder ADD CONSTRAINT
	FKWorkOrder_EmployeeForAssignee FOREIGN KEY
	(
	AssigneeId
	) REFERENCES dbo.Employee
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
COMMIT
