BEGIN TRANSACTION
GO
PRINT N'Dropping primary key [PK_AuditEntry] from [dbo].[AuditEntry]'
GO
ALTER TABLE [dbo].[AuditEntry] DROP CONSTRAINT [PK_AuditEntry]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
PRINT N'Dropping [dbo].[AuditEntry]'
GO
DROP TABLE [dbo].[AuditEntry]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
PRINT 'The database update succeeded'
COMMIT TRANSACTION
