BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.WorkOrder ADD
    Instructions nvarchar(4000) NULL
GO
COMMIT
GO

BEGIN TRANSACTION
GO
PRINT N'Altering [dbo].[WorkOrder] Number column from NVARCHAR(6) to NVARCHAR(7)'
GO
ALTER TABLE [dbo].[WorkOrder] ALTER COLUMN [Number] NVARCHAR(7) NOT NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
PRINT 'The database update succeeded'
COMMIT TRANSACTION
GO
