-- Add Instructions column to WorkOrder table
IF NOT EXISTS (SELECT * FROM sys.columns WHERE object_id = OBJECT_ID(N'[dbo].[WorkOrder]') AND name = 'Instructions')
BEGIN
    ALTER TABLE [dbo].[WorkOrder]
    ADD [Instructions] NVARCHAR(4000) NULL;
    PRINT 'Added Instructions column to WorkOrder table';
END
ELSE
BEGIN
    PRINT 'Instructions column already exists';
END
GO
